body {
	font-family: 'HomePageFont', sans-serif;
	background: linear-gradient(45deg, #ffcc00, #ff6699, #33ccff);
	background-size: 50% 200%;
	animation: GradientBackground 15s ease infinite;
	color: #ffffff;
}

@keyframes GradientBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
