.HomePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 2rem;
	font-family: 'HomePageFont', sans-serif;

	&-titleContainer {
	}

	&-cardsContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: auto;

		@media (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 900px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.card {
			background-color: aqua;
			border: 1px solid black;
			padding: 1rem;
			border-radius: 0.5rem;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			text-align: center;
			font-size: 1rem;
			transition: transform 0.2s;
			margin: 1rem;
			height: 100%;
			width: 90%;

			&:hover {
				transform: translateY(-5px);
			}
		}
	}
}

.header {
	position: fixed;
	top: 0.5rem;
	right: 1rem;

	.burgerMenu {
		font-size: 2rem;
		cursor: pointer;
		color: white;
	}

	.navMenu {
		display: none;
		flex-direction: column;
		background-color: #444;
		width: 100%;
		position: absolute;
		top: 60px;
		right: 0;

		a {
			padding: 5rem 0 2rem 0;
			color: white;
			text-decoration: none;

			&:hover {
				background-color: #555;
			}
		}
	}

	.showMenu {
		display: flex;
		background-color: aliceblue;

		right: 0;
		height: 10%;
		position: fixed;
		width: 100%;

		align-items: center;
		justify-content: space-around;
		bottom: 0;
		width: 100%;
	}
}

.aboutIcon {
	font-size: smaller;
}
.pageButton {
	padding: 0.5rem;
	font-size: 1.3rem;

	&:hover {
		cursor: pointer !important;
	}
}

.loadMoreButton {
	background-color: #0070f3;
	color: white;
	border: none;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 2rem;
	align-self: center;

	&:hover {
		background-color: #005bb5;
	}
}

.paginationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.active {
	font-weight: bold;
}
