.Register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;

	// & .Register-image-container {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	padding: 2rem;
	// }

	& .Register-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& .Register-input {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& .Register-input {
		padding: 1rem;
		margin: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& .Register-button {
		border-radius: 12px;
		cursor: pointer;
		font-size: 1.2rem;
		font-weight: 700;
		padding: 1rem 1.2rem;
		border: 0;
		user-select: none;
		margin-top: 2rem;
	}

	.Register-button:hover {
		box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
	}
}
